<h1>Hello From Afar</h1>
<p>Dear @Model.Recipient,</p>
<p>How are you? I hope that you are having a nice weekend. I'm vacationing in @Model.Location1 while I learn programming. </p>
<p>@Model.Recipient, you would not believe how cold it is here. I should have gone to Hawaii instead.</p>
<p>But I like programming a lot, so I've got that going for me. </p>
<p>I really miss you. I was trying to pinpoint why this place makes me so sad, and I realized it was because you aren't by my side. I spend a lot of time thinking about that night we spent together before I left. Felt like a huge weight was lifted off my chest. While I felt tight with anxiety before that evening, I feel heavy with longing now. I wish we had more time together.</p>
<p>I'm bring back a @Model.Gift for you. I hope you like it.</p>
<p>See you soon my love,</p>
<p>@Model.Sender</p>